<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Questions</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">

    </head>
    <body>
        <h1>Dojos!</h1>
        <h2>Please answer our form!</h2>
        <form action="">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="First Name"></br>
            <label for="favorite_ninja_movie">Favorite Ninja Movie:</label>
            <input type="text" name="favorite_ninja_movie" value="Favorite Ninja Movie"></br>
            <label for="email">Email:</label>
            <input type="email" name="email" value="Email"></br>
            <input type="submit" name="" value="submit">
        </form>
    </body>
</html>
