<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja HQ</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Ninja HQ Headquarters</h1>
        <h2>History</h2>
        <p>Despite many popular folktales, historical accounts of the ninja are scarce. Historian Stephen Turnbull asserts that the ninja were mostly recruited from the lower class, and therefore little literary interest was taken in them. Instead, war epics such as the Tale of Hōgen (Hōgen Monogatari) and the Tale of the Heike (Heike Monogatari) focus mainly on the aristocratic samurai, whose deeds were apparently more appealing to the audience. Historian Kiyoshi Watatani states that the ninja were trained to be particularly secretive about their actions and existence:</p>
        <h2>Roles</h2>
        <p>In his Buke Myōmokushō, military historian Hanawa Hokinoichi writes of the ninja:

            <p>
            "They travelled in disguise to other territories to judge the situation of the enemy, they would inveigle their way into the midst of the enemy to discover gaps, and enter enemy castles to set them on fire, and carried out assassinations, arriving in secret."</p>

        <p>

        The ninja were stealth soldiers and mercenaries hired mostly by daimyōs. Their primary roles were those of espionage and sabotage, although assassinations were also attributed to ninja. In battle, the ninja could also be used to cause confusion amongst the enemy. A degree of psychological warfare in the capturing of enemy banners can be seen illustrated in the Ōu Eikei Gunki, composed between the 16th and 17th centuries:</p>

            <p>

            "Within Hataya castle there was a glorious shinobi whose skill was renowned, and one night he entered the enemy camp secretly. He took the flag from Naoe Kanetsugu's guard ... and returned and stood it on a high place on the front gate of the castle."</p>
        <h2>Pop Culture</h2>
        <p>The image of the ninja entered popular culture in the Edo period, when folktales and plays about ninja were conceived. Stories about the ninja are usually based on historical figures. For instance, many similar tales exist about a daimyō challenging a ninja to prove his worth, usually by stealing his pillow or weapon while he slept. Novels were written about the ninja, such as Jiraiya Gōketsu Monogatari, which was also made into a kabuki play. Fictional figures such as Sarutobi Sasuke would eventually make their way into comics and television, where they have come to enjoy a culture hero status outside their original mediums.</p>
        <h6>Shout-out to <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia</ahref> for this page's info!</h6>
    </body>
</html>
